@import "_mixin.scss";
@import "_variables.scss";

* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}
.header {
  background-color: $primary-bg-color;

  .nav-link.active {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: $border-radius/2;
  }
  .topBar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
}

.wallet {
  .singleWallet {
    border-radius: 8px !important;
    .walletInfoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .addBalance {
    cursor: pointer;
    border: 1px dashed $primary-bg-color !important;
    border-radius: 8px;
  }
  .cardWrapper {
    margin-bottom: -3rem;
  }
}

.activities {
  background-color: #f6f8fc;
  padding: 10rem 0 3rem 0;

  .actionWrapper {
    @include flex-center;
    flex-direction: column;
    background-color: $primary-bg-color;
    padding: 10px 25px;
    border-radius: $border-radius;
  }
  .allActivitiesWrapper {
    .navWrapper {
      background-color: #e5edf9;
      padding: 0.25rem;
      border-radius: $border-radius/2;

      .nav-item {
        font-size: 0.7rem;
      }
    }
  }
}

.footer {
  background-color: #f6f8fc;
  .footer-banner {
    @include flex-center;
    background-image: url("../images/footerBg.png");
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;

    .footerPhoneImg {
      max-width: 250px;
    }
  }
  .legal {
    position: relative;
    margin-right: 5px;
    padding-right: 5px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #aeafd0;
    }
  }
  .appImg {
    max-width: 150px;
    width: 100%;
  }
}
.menu_trigger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-end;
  span {
    background-color: #000;
    height: 2px;
    transition: 0.5s;
    width: 35px;
    margin: 5px 0;
  }
}
.sideDrawer {
  @include position-fixed-right;
  height: 100vh;
  z-index: 200;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  padding: 0 0.5rem;
  transform: translate(0);
  width: 200px;
}
.sideDrawer_close {
  transform: translate(100%);
  opacity: 0;
  visibility: hidden;
}
.sideDrawer_show {
  opacity: 1;
  visibility: visible;
}

.header_overlay {
  @include position-fixed-right;
  width: 100%;
  height: 100%;

  background-color: #000;
  z-index: 5;
}

.overlay_active {
  visibility: visible;
  opacity: 0.2;
}
