* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}
.header {
  //   background-color: linear-gradient(180deg, #f2eef7 0%, #ffffff 100%);
  background-color: #544f9d;

  .nav-link.active {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 4px;
  }
  .topBar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
}

.wallet {
  .singleWallet {
    border-radius: 8px !important;
    .walletInfoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .addBalance {
    /* border: dashed; */
    border: 1px dashed #54509d !important;
    border-radius: 8px;
  }
  .cardWrapper {
    margin-bottom: -3rem;
  }
}

.activities {
  background-color: #f6f8fc;
  padding: 60px 0;

  .actionWrapper {
    display: flex;
    flex-direction: column;
    background-color: #525198;
    padding: 10px 25px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }
  .allActivitiesWrapper {
    .navWrapper {
      background-color: #e5edf9;
      padding: 0.25rem;
      border-radius: 4px;

      .nav-item {
        font-size: 0.7rem;
      }
    }
  }
}

.footer {
  background-color: #f6f8fc;
  .footer-banner {
    background-image: url("../images/footerBg.png");
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .appImg {
    max-width: 150px;
    width: 100%;
  }
}
.menu_trigger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-end;
  span {
    background-color: #000;
    height: 2px;
    transition: 0.5s;
    width: 35px;
    margin: 5px 0;
  }
}
.sideDrawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 200;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  padding: 0 0.5rem;
  transform: translate(0);
  transition: 0.3s ease-in-out;
  width: 200px;
}
.sideDrawer_close {
  // transform: translateX(-100%);
  transform: translate(100%);
  opacity: 0;
  visibility: hidden;
}
.sideDrawer_show {
  opacity: 1;
  visibility: visible;
}

.header_overlay {
  position: fixed;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  background-color: #000;
  z-index: 5;
  transition: 0.3s ease-in-out;
}

.overlay_active {
  visibility: visible;
  opacity: 0.2;
}
